.button {
  display: block;

  width: 280px;
  padding: 15px 35px;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 3px solid white;
  border-radius: 30px;
}

@media (min-width: @tablet-width) {
  .button {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    padding: 15px 25px;
    font-size: 21px;
  }
}
