.inner-main__wrapper {
  width: 100%;
  margin-top: -65px;

  background-color: @gray-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-main__title {
  margin: 0 auto;
  padding: 100px 20px 80px;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.inner-main__text {
  margin: 0 auto;
  padding: 50px 20px 55px;

  color: @gray-blue;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;

  background-color: #ffffff;

  .br-form {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .inner-main__wrapper {
    margin-top: -105px;

    background-color: @gray-blue;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 200% auto;
  }

  .inner-main__title {
    width: 740px;
    margin: 0 auto;
    padding: 200px 0 150px;

    color: #ffffff;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    text-align: center;
  }

  .inner-main__text {
    margin: 0 auto;
    padding: 100px 20px 80px;

    color: @gray-blue;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;

    background-color: #ffffff;

    .br-form {
      display: inline-block;
    }
  }
}

@media (min-width: @desktop-width) {
  .inner-main__wrapper {
    margin-top: -110px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .inner-main__title {
    width: 820px;
    text-align: center;
  }
}
