.share {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-_title {
  margin: 43px 0;

  width: 280px;

  color: @gray-blue;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
  font-weight: normal;
}

.share__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 20px 0 40px;


  background-color: @cream;
}

.share__wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.share__img {
  width: 280px;
}

.share__fieldset {
  width: 280px;
  border: none;
  margin: 0;
  padding: 0;
}

.share__inputs {
  width: 270px;
  margin: 35px auto 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  cursor: pointer;
}

.share__label {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 35px;
  font-size: 0;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  fill: @editor-icon;

  &--active {
    fill: @lipstick;
  }

  &:hover {
    fill: @lipstick;
  }

  &:not(&--active):active {
    fill: @editor-icon--active;
  }
}

.share__range {
  appearance: none;
  position: absolute;
  left: -15px;
  bottom: -38px;
  width: 240px;
  height: 2px;
  background-color: #000000;

  &:not(&--active) {
    display: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    position: absolute;
    width: 14px;
    height: 15px;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);

    background-color: @cream;
    border: 2px solid @lipstick;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-webkit-slider-thumb:hover {
    background-color: @lipstick;
  }
}

.share__button--post {
  margin-top: 35px;

  color: @lipstick;

  border: 3px solid @lipstick;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: @lipstick;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.share__button.share__button--cancel {
  margin-top: 10px;

  color: @gray-blue-rgba;

  border: 3px solid @gray-blue-rgba;
  opacity: 0.1;
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @gray-blue-rgba;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .share-_title {
    width: 620px;
    margin: 66px 0 69px;

    font-size: 18px;
  }

  .share__wrapper {
    flex-direction: row;
    justify-content: center;

    padding: 60px 20px 55px;
  }

  .share__wrapper-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;

    width: 300px;
    height: 400px;
  }

  .share__img {
    flex-shrink: 0;
    width: 300px;
    margin-right: 20px;
  }

  .share__fieldset {
    width: 300px;
  }

  .share__inputs {
    width: 275px;
    margin: 0 auto;
    margin-top: -19px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .share__label {
    width: 275px;
    height: 73px;
    margin: 0;

    border-bottom: 1px solid @editor-icon;

    svg {
      top: 50%;
      left: -9px;
      transform: translateY(-50%) scale(0.5);
    }

    &--contrast svg {
      left: 0;
    }

    fill: @editor-icon;

    &--active {
      fill: @lipstick;
    }

    &:hover {
      fill: @lipstick;
    }

    &:not(&--active):active {
      fill: @editor-icon--active;
    }
  }

  .share__range {
    left: 55px;
    top: 50%;
    width: 202px;
    height: 2px;

    transform: translateY(-50%);

    &:not(&--active) {
      display: inline-flex;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      position: absolute;
      width: 15px;
      height: 15px;
      top: 50%;
      left: 73%;
      transform: translateY(-50%);

      background-color: @cream;
      border: 2px solid @lipstick;
      border-radius: 50%;
      cursor: pointer;
    }

    &--fill::-webkit-slider-thumb {
      left: 12%;
    }

    &--contrast::-webkit-slider-thumb {
      left: 48%;
    }

    &::-webkit-slider-thumb:hover {
      background-color: @lipstick;
    }
  }

  .share__btns {
    width: 300px;
    margin-top: 64px;
  }

  .share__btns-in {
    width: 260px;
    margin: 0 auto;
  }

  .share__button {
    width: 260px;
    margin-bottom: 25px;

    &--post {
      margin-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .share-_title {
    width: 800px;
    margin: 63px 0 65px;
  }

  .share__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    width: 940px;

    padding: 57px 80px 57px;
  }

  .share__wrapper-inner {
    padding: 0;

    width: 410px;
    height: 400px;
  }

  .share__img {
    flex-shrink: 0;
    width: 300px;
    margin: 0 90px 0 0;
  }

  .share__fieldset {
    width: 410px;
  }

  .share__inputs {
    width: 410px;
  }

  .share__label {
    width: 410px;

    svg {
      top: 50%;
      left: -3px;
      transform: translateY(-50%) scale(1);
    }

    &--contrast svg {
      left: 5px;
    }

    &--fill svg {
      left: 2px;
    }
  }

  .share__range {
    left: 92px;
    width: 289px;

    &::-webkit-slider-thumb {
      top: 50%;
      left: 25%;
      transform: translateY(-50%);

      background-color: @cream;
      border: 2px solid @lipstick;
      border-radius: 50%;
      cursor: pointer;
    }

    &--fill::-webkit-slider-thumb {
      left: 85%;
    }

    &--contrast::-webkit-slider-thumb {
      left: 55%;
    }
  }

  .share__btns {
    width: 410px;
    margin-top: 132px;
  }

  .share__btns-in {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 410px;
  }

  .share__button {
    width: 183px;

    font-size: 18px;
    line-height: 18px;

    &--post {
      margin-right: auto;
    }
  }
}
