@tablet-width: 768px;
@desktop-width: 1200px;

@link--hover: #000000;
@link--active: rgba(40, 54, 69, 0.3);
@gray-blue: #283645; // цвет шапки меню
@dark-blue: #1d2631; //фон секции на гланой
@cream: #f2f2f2; // фон на преимуществах
@light-gray: #e5e5e5;
@lipstick: #d22856;
@lipstick-light: rgba(210, 40, 86, 0.3);
@button: #2aab6d;
@button--hover: #1c9b5e;
@button--disabled: #e5e5e5;
@button-text--hover: rgba(255, 255, 255, 0.3);
